In [23]:
### Importing Libraries
import pandas as pd    ## For data migration
import random as rd    ## for random number generating

In [24]:
## Importing DataFile
df = pd.read_excel("D:\\Aakash Nadupalli\\MCA\\M.C.A. 2021-2023 Admitted Students Lists.xlsx")
df

     Roll Number                           Name
0   21031F0001                 AVUSALA CHANDANA
1     21031F0002  DADYREDDY DHEERAJ KUMAR REDDY
2     21031F0003             GOTTUMUKKALA JESSY
3    2103 IF0004              GANGAPURAM AKHILA
4     21031F0005               AAKASH NADUPALLI
5     21031F0006                 MOMULA MARUTHI
6    2103 IF0007  RENUKUNTLA SHIVA RAMA KRISHNA
7     21031F0008           VEMURI VIDYA MADHURI
8     21031F0009            BOLLIPALLI AKANKSHA
9     21031F0010               CHINTHA CHANDANA
10    21031F0011                ADITYA CHOUDARY
11    21031F0012                    KARNE RAMYA
12    21031F0013               MULLANGI MEGHANA
13    21031F0014                     M HARSHITH
14    21031F0015            BATTIKADI SREEDIVYA
15    21031F0016  VEGESNA SATYA SRIDEVI ANUPAMA
16    21031F0017             CHIKATIMARLA AKHIL
17    21031F0018                 DONTULA RAKESH
18    21031F0019                 G SANGAMESHWAR
19    21031F0020          VISHWANATHAM SRILAXMI
20    21031F0021            MAMIDIPELLY SAHITYA
21    21031F0022                 MOODA YADAGIRI
22   2103 IF0023             ALLURI BABY ANJANA
23    21031F0024               MACHA SAIKRISHNA
24    21031F0025                AROORI Y JHANSI
25   2103 IF0026             NIKHIL BHAMIDIPATI
26    21031F0027                 AKHILA MUDDALA
27   2103 IF0028               PALLAPU RAJKUMAR
28    21031F0029                JATAVATH SINDHU
29    21031F0030                  RAHUL AGARWAL

In [26]:
## We add a column which consists of Phone numbers so i use random package for random number generating
## Below is an Example
rd.randrange(9000000000,9999999999,10)

9463047510

In [27]:
## Now i want 30 records so i create a list 
Ph = []
for i in range(0,30):
    Ph.append(rd.randrange(9000000000,9999999999,10))

In [28]:
Ph

[9237996570,
 9731615910,
 9580672730,
 9430406780,
 9578698530,
 9863285010,
 9093324840,
 9630699730,
 9715837380,
 9029664900,
 9143325400,
 9097129980,
 9708780010,
 9511340880,
 9611813850,
 9343879280,
 9280005700,
 9620170020,
 9954942510,
 9062230160,
 9600864950,
 9435505660,
 9647524660,
 9477808430,
 9133446790,
 9667717040,
 9460820600,
 9100456100,
 9685418570,
 9057125850]

In [29]:
## Adding New Column as Phone Number 
df[["Phone Number"]] = pd.DataFrame(Ph)

In [30]:
df

     Roll Number                           Name  Phone Number
0   21031F0001                 AVUSALA CHANDANA    9237996570
1     21031F0002  DADYREDDY DHEERAJ KUMAR REDDY    9731615910
2     21031F0003             GOTTUMUKKALA JESSY    9580672730
3    2103 IF0004              GANGAPURAM AKHILA    9430406780
4     21031F0005               AAKASH NADUPALLI    9578698530
5     21031F0006                 MOMULA MARUTHI    9863285010
6    2103 IF0007  RENUKUNTLA SHIVA RAMA KRISHNA    9093324840
7     21031F0008           VEMURI VIDYA MADHURI    9630699730
8     21031F0009            BOLLIPALLI AKANKSHA    9715837380
9     21031F0010               CHINTHA CHANDANA    9029664900
10    21031F0011                ADITYA CHOUDARY    9143325400
11    21031F0012                    KARNE RAMYA    9097129980
12    21031F0013               MULLANGI MEGHANA    9708780010
13    21031F0014                     M HARSHITH    9511340880
14    21031F0015            BATTIKADI SREEDIVYA    9611813850
15    21031F0016  VEGESNA SATYA SRIDEVI ANUPAMA    9343879280
16    21031F0017             CHIKATIMARLA AKHIL    9280005700
17    21031F0018                 DONTULA RAKESH    9620170020
18    21031F0019                 G SANGAMESHWAR    9954942510
19    21031F0020          VISHWANATHAM SRILAXMI    9062230160
20    21031F0021            MAMIDIPELLY SAHITYA    9600864950
21    21031F0022                 MOODA YADAGIRI    9435505660
22   2103 IF0023             ALLURI BABY ANJANA    9647524660
23    21031F0024               MACHA SAIKRISHNA    9477808430
24    21031F0025                AROORI Y JHANSI    9133446790
25   2103 IF0026             NIKHIL BHAMIDIPATI    9667717040
26    21031F0027                 AKHILA MUDDALA    9460820600
27   2103 IF0028               PALLAPU RAJKUMAR    9100456100
28    21031F0029                JATAVATH SINDHU    9685418570
29    21031F0030                  RAHUL AGARWAL    9057125850

In [31]:
## If we observe there are few values which are I but actually they are 1 so lets clean them
for i in range(0,30):
    df["Roll Number"][i] = df["Roll Number"][i].replace(" I","1")

C:\Users\aakas\AppData\Local\Temp/ipykernel_11076/535543423.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Roll Number"][i] = df["Roll Number"][i].replace(" I","1")

In [32]:
df["Roll Number"]

0     21031F0001
1       21031F0002
2       21031F0003
3       21031F0004
4       21031F0005
5       21031F0006
6       21031F0007
7       21031F0008
8       21031F0009
9       21031F0010
10      21031F0011
11      21031F0012
12      21031F0013
13      21031F0014
14      21031F0015
15      21031F0016
16      21031F0017
17      21031F0018
18      21031F0019
19      21031F0020
20      21031F0021
21      21031F0022
22      21031F0023
23      21031F0024
24      21031F0025
25      21031F0026
26      21031F0027
27      21031F0028
28      21031F0029
29      21031F0030
Name: Roll Number, dtype: object

In [33]:
## I consider Roll Numbers in list
x = list(df["Roll Number"])
x

['21031F0001  ',
 '21031F0002',
 '21031F0003',
 '21031F0004',
 '21031F0005',
 '21031F0006',
 '21031F0007',
 '21031F0008',
 '21031F0009',
 '21031F0010',
 '21031F0011',
 '21031F0012',
 '21031F0013',
 '21031F0014',
 '21031F0015',
 '21031F0016',
 '21031F0017',
 '21031F0018',
 '21031F0019',
 '21031F0020',
 '21031F0021',
 '21031F0022',
 '21031F0023',
 '21031F0024',
 '21031F0025',
 '21031F0026',
 '21031F0027',
 '21031F0028',
 '21031F0029',
 '21031F0030']

In [35]:
x.index("21031F0005")

4

In [48]:
## Our Problem statement is when we enter roll number we should get Name and Phone Number
y = input("Enter Roll Number :")
for i in x:
    if y in i:
        print(df.iloc[x.index(i),[1,2]])

Enter Roll Number :21031F0016
Name            VEGESNA SATYA SRIDEVI ANUPAMA
Phone Number                       9343879280
Name: 15, dtype: object