In [23]:
### Data Import
import pandas as pd
CustomerData = pd.read_csv(r"D:\Files\MS-Office Files\CustomerData.csv")
print(CustomerData)

      CustomerID  City  NoOfChildren  MinAgeOfChild  MaxAgeOfChild  Tenure  \
0           1001     1             2              3              8     210
1           1002     1             2              3              6     442
2           1003     1             4              3              5     424
3           1004     1             1              6              6     261
4           1005     1             3              6              9     422
...          ...   ...           ...            ...            ...     ...
3204        4205     1             2              4              6     365
3205        4206     1             2              2              5     348
3206        4207     1             2              5              7     341
3207        4208     1             2              6              7     368
3208        4209     1             3              2              6     389

      FrquncyOfPurchase  NoOfUnitsPurchased  FrequencyOFPlay  NoOfGamesPlayed  \
0                    11                  11             2344              108
1                    20                  20              245               22
2                    18                  18             1059              130
3                    11                   9              365               34
4                    44                  31             1066              102
...                 ...                 ...              ...              ...
3204                 16                  16              827               78
3205                 20                  20             2933              294
3206                 16                  13             1250              126
3207                 18                  14             1364              122
3208                 25                  17              475              111

      NoOfGamesBought FavoriteChannelOfTransaction FavoriteGame  \
0                  10                      Uniform      Uniform
1                   7                     Favorite      Uniform
2                  18                     Favorite      Uniform
3                  11                     Favorite      Uniform
4                  44                      Uniform      Uniform
...               ...                          ...          ...
3204               16                     Favorite      Uniform
3205               13                     Favorite      Uniform
3206               16                      Uniform      Uniform
3207               18                     Favorite      Uniform
3208               25                     Favorite      Uniform

      TotalRevenueGenerated
0                    107.51
1                    382.40
2                    135.01
3                    125.00
4                    335.05
...                     ...
3204                 132.50
3205                 223.23
3206                 120.00
3207                 161.50
3208                 137.50

[3209 rows x 14 columns]

In [47]:
## Structure OF DataFrame
CustomerData.dtypes
CustomerData['City'] = CustomerData['City'].astype('category')
CustomerData.dtypes

CustomerID                         int64
City                            category
NoOfChildren                       int64
MinAgeOfChild                      int64
MaxAgeOfChild                      int64
Tenure                             int64
FrquncyOfPurchase                  int64
NoOfUnitsPurchased                 int64
FrequencyOFPlay                    int64
NoOfGamesPlayed                    int64
NoOfGamesBought                    int64
FavoriteChannelOfTransaction      object
FavoriteGame                      object
TotalRevenueGenerated            float64
dtype: object

In [24]:
print(CustomerData.head())
print(CustomerData.tail())

   CustomerID  City  NoOfChildren  MinAgeOfChild  MaxAgeOfChild  Tenure  \
0        1001     1             2              3              8     210
1        1002     1             2              3              6     442
2        1003     1             4              3              5     424
3        1004     1             1              6              6     261
4        1005     1             3              6              9     422

   FrquncyOfPurchase  NoOfUnitsPurchased  FrequencyOFPlay  NoOfGamesPlayed  \
0                 11                  11             2344              108
1                 20                  20              245               22
2                 18                  18             1059              130
3                 11                   9              365               34
4                 44                  31             1066              102

   NoOfGamesBought FavoriteChannelOfTransaction FavoriteGame  \
0               10                      Uniform      Uniform
1                7                     Favorite      Uniform
2               18                     Favorite      Uniform
3               11                     Favorite      Uniform
4               44                      Uniform      Uniform

   TotalRevenueGenerated
0                 107.51
1                 382.40
2                 135.01
3                 125.00
4                 335.05
      CustomerID  City  NoOfChildren  MinAgeOfChild  MaxAgeOfChild  Tenure  \
3204        4205     1             2              4              6     365
3205        4206     1             2              2              5     348
3206        4207     1             2              5              7     341
3207        4208     1             2              6              7     368
3208        4209     1             3              2              6     389

      FrquncyOfPurchase  NoOfUnitsPurchased  FrequencyOFPlay  NoOfGamesPlayed  \
3204                 16                  16              827               78
3205                 20                  20             2933              294
3206                 16                  13             1250              126
3207                 18                  14             1364              122
3208                 25                  17              475              111

      NoOfGamesBought FavoriteChannelOfTransaction FavoriteGame  \
3204               16                     Favorite      Uniform
3205               13                     Favorite      Uniform
3206               16                      Uniform      Uniform
3207               18                     Favorite      Uniform
3208               25                     Favorite      Uniform

      TotalRevenueGenerated
3204                 132.50
3205                 223.23
3206                 120.00
3207                 161.50
3208                 137.50

In [25]:
print(CustomerData.describe())

        CustomerID         City  NoOfChildren  MinAgeOfChild  MaxAgeOfChild  \
count  3209.000000  3209.000000   3209.000000    3209.000000    3209.000000
mean   2605.000000     1.114054      2.128389       4.960735       7.990651
std     926.502833     0.317927      1.035092       3.714191       8.784084
min    1001.000000     1.000000      1.000000       0.000000       3.000000
25%    1803.000000     1.000000      1.000000       4.000000       6.000000
50%    2605.000000     1.000000      2.000000       5.000000       7.000000
75%    3407.000000     1.000000      3.000000       6.000000       8.000000
max    4209.000000     2.000000     11.000000     113.000000     113.000000

            Tenure  FrquncyOfPurchase  NoOfUnitsPurchased  FrequencyOFPlay  \
count  3209.000000        3209.000000         3209.000000      3209.000000
mean    347.520411          16.269554           14.684014      1568.207853
std      90.520118           8.441670            7.182029      1810.630464
min     100.000000           1.000000            1.000000         0.000000
25%     301.000000          11.000000           10.000000       446.000000
50%     368.000000          14.000000           13.000000      1029.000000
75%     417.000000          19.000000           17.000000      2029.000000
max     472.000000         119.000000          112.000000     27829.000000

       NoOfGamesPlayed  NoOfGamesBought  TotalRevenueGenerated
count      3209.000000      3209.000000            3209.000000
mean         93.627921        14.761608             168.477183
std          88.936372         8.773910              81.798528
min           0.000000         0.000000             100.000000
25%          37.000000        10.000000             116.640000
50%          70.000000        14.000000             142.390000
75%         119.000000        19.000000             191.250000
max        1166.000000       115.000000             990.560000

In [26]:
CustomerData.info

<bound method DataFrame.info of       CustomerID  City  NoOfChildren  MinAgeOfChild  MaxAgeOfChild  Tenure  \
0           1001     1             2              3              8     210
1           1002     1             2              3              6     442
2           1003     1             4              3              5     424
3           1004     1             1              6              6     261
4           1005     1             3              6              9     422
...          ...   ...           ...            ...            ...     ...
3204        4205     1             2              4              6     365
3205        4206     1             2              2              5     348
3206        4207     1             2              5              7     341
3207        4208     1             2              6              7     368
3208        4209     1             3              2              6     389

      FrquncyOfPurchase  NoOfUnitsPurchased  FrequencyOFPlay  NoOfGamesPlayed  \
0                    11                  11             2344              108
1                    20                  20              245               22
2                    18                  18             1059              130
3                    11                   9              365               34
4                    44                  31             1066              102
...                 ...                 ...              ...              ...
3204                 16                  16              827               78
3205                 20                  20             2933              294
3206                 16                  13             1250              126
3207                 18                  14             1364              122
3208                 25                  17              475              111

      NoOfGamesBought FavoriteChannelOfTransaction FavoriteGame  \
0                  10                      Uniform      Uniform
1                   7                     Favorite      Uniform
2                  18                     Favorite      Uniform
3                  11                     Favorite      Uniform
4                  44                      Uniform      Uniform
...               ...                          ...          ...
3204               16                     Favorite      Uniform
3205               13                     Favorite      Uniform
3206               16                      Uniform      Uniform
3207               18                     Favorite      Uniform
3208               25                     Favorite      Uniform

      TotalRevenueGenerated
0                    107.51
1                    382.40
2                    135.01
3                    125.00
4                    335.05
...                     ...
3204                 132.50
3205                 223.23
3206                 120.00
3207                 161.50
3208                 137.50

[3209 rows x 14 columns]>

In [27]:
### Accessing Column
CustomerData.loc[:,"TotalRevenueGenerated"]

0       107.51
1       382.40
2       135.01
3       125.00
4       335.05
         ...
3204    132.50
3205    223.23
3206    120.00
3207    161.50
3208    137.50
Name: TotalRevenueGenerated, Length: 3209, dtype: float64

In [28]:
print(CustomerData.describe())

        CustomerID         City  NoOfChildren  MinAgeOfChild  MaxAgeOfChild  \
count  3209.000000  3209.000000   3209.000000    3209.000000    3209.000000
mean   2605.000000     1.114054      2.128389       4.960735       7.990651
std     926.502833     0.317927      1.035092       3.714191       8.784084
min    1001.000000     1.000000      1.000000       0.000000       3.000000
25%    1803.000000     1.000000      1.000000       4.000000       6.000000
50%    2605.000000     1.000000      2.000000       5.000000       7.000000
75%    3407.000000     1.000000      3.000000       6.000000       8.000000
max    4209.000000     2.000000     11.000000     113.000000     113.000000

            Tenure  FrquncyOfPurchase  NoOfUnitsPurchased  FrequencyOFPlay  \
count  3209.000000        3209.000000         3209.000000      3209.000000
mean    347.520411          16.269554           14.684014      1568.207853
std      90.520118           8.441670            7.182029      1810.630464
min     100.000000           1.000000            1.000000         0.000000
25%     301.000000          11.000000           10.000000       446.000000
50%     368.000000          14.000000           13.000000      1029.000000
75%     417.000000          19.000000           17.000000      2029.000000
max     472.000000         119.000000          112.000000     27829.000000

       NoOfGamesPlayed  NoOfGamesBought  TotalRevenueGenerated
count      3209.000000      3209.000000            3209.000000
mean         93.627921        14.761608             168.477183
std          88.936372         8.773910              81.798528
min           0.000000         0.000000             100.000000
25%          37.000000        10.000000             116.640000
50%          70.000000        14.000000             142.390000
75%         119.000000        19.000000             191.250000
max        1166.000000       115.000000             990.560000

In [37]:
## Dropping Column 
CustomerData.drop("CustomerID",axis = 1)

,City,NoOfChildren,MinAgeOfChild,MaxAgeOfChild,Tenure,FrquncyOfPurchase,NoOfUnitsPurchased,FrequencyOFPlay,NoOfGamesPlayed,NoOfGamesBought,FavoriteChannelOfTransaction,FavoriteGame,TotalRevenueGenerated
0,1,2,3,8,210,11,11,2344,108,10,Uniform,Uniform,107.51
1,1,2,3,6,442,20,20,245,22,7,Favorite,Uniform,382.40
2,1,4,3,5,424,18,18,1059,130,18,Favorite,Uniform,135.01
3,1,1,6,6,261,11,9,365,34,11,Favorite,Uniform,125.00
4,1,3,6,9,422,44,31,1066,102,44,Uniform,Uniform,335.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,1,2,4,6,365,16,16,827,78,16,Favorite,Uniform,132.50
3205,1,2,2,5,348,20,20,2933,294,13,Favorite,Uniform,223.23
3206,1,2,5,7,341,16,13,1250,126,16,Uniform,Uniform,120.00
3207,1,2,6,7,368,18,14,1364,122,18,Favorite,Uniform,161.50
3208,1,3,2,6,389,25,17,475,111,25,Favorite,Uniform,137.50

In [38]:
CustomerData.shape[1]

14