In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2015-09-14_13-01-32__CommaSeparated.txt')

In [3]:
df

,Year,Month,Day,Hour,Temp,DewTemp,Pressure,WindDir,WindSpeed,Sky,Precip1,Precip6
0,1912,4,1,6,114,94,10121,200,120,8,-9999,-9999
1,1912,4,1,9,146,96,10122,240,140,8,-9999,-9999
2,1912,4,2,6,172,122,10146,210,40,2,-9999,40
3,1912,4,2,9,193,-9999,10150,240,210,1,-9999,0
4,1912,4,2,12,188,125,10152,240,250,1,-9999,0
...,...,...,...,...,...,...,...,...,...,...,...,...
752,1912,12,30,9,118,106,10197,80,21,7,-9999,-9999
753,1912,12,30,12,140,106,10185,80,31,5,-9999,50
754,1912,12,30,15,112,84,10196,80,31,7,-9999,-9999
755,1912,12,31,6,142,87,10225,260,41,8,-9999,-9999
756,1912,12,31,15,146,83,10213,260,51,7,-9999,-9999

In [4]:
df1 = pd.read_csv('2015-09-14_13-01-49__SpaceSeparated.txt', sep='\s+')

In [5]:
df1

,Year,Month,Day,Hour,Temp,DewTemp,Pressure,WindDir,WindSpeed,Sky,Precip1,Precip6
0,1912,4,1,6,114,94,10121,200,120,8,-9999,-9999
1,1912,4,1,9,146,96,10122,240,140,8,-9999,-9999
2,1912,4,2,6,172,122,10146,210,40,2,-9999,40
3,1912,4,2,9,193,-9999,10150,240,210,1,-9999,0
4,1912,4,2,12,188,125,10152,240,250,1,-9999,0
...,...,...,...,...,...,...,...,...,...,...,...,...
752,1912,12,30,9,118,106,10197,80,21,7,-9999,-9999
753,1912,12,30,12,140,106,10185,80,31,5,-9999,50
754,1912,12,30,15,112,84,10196,80,31,7,-9999,-9999
755,1912,12,31,6,142,87,10225,260,41,8,-9999,-9999
756,1912,12,31,15,146,83,10213,260,51,7,-9999,-9999